html, body {
    color: #C8C8C8;
    background-color: #2D2D2D;
    height: fit-content;
    min-height: 0;
    overflow: hidden;
    padding: 0.1em 0.1em 1em 0.1em;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    font-weight: 600;
    line-height: 1.25
}

h1 {
    font-size: 2em;
    border-bottom: 1px solid #C8C8C8
}

h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #C8C8C8
}

h3 {
    font-size: 1.25em
}

h4, h5 {
    font-size: 1em
}

p {
    margin-bottom: 1em
}

a {
    color: #2e90d7;
    text-decoration: none
}

    a:hover {
        text-decoration: underline
    }

ul, ol {
    margin-bottom: 1em;
    padding-left: 1.5em
}

code, code span {
    background-color: #343434;
    border-radius: 4px;
    font-family: Consolas,sans-serif;
    font-size: 0.9em;
    padding: 0.2em 0.4em;
}

    code span {
        font-size: 1em
    }

pre {
    background-color: #272727;
    border-radius: 4px;
    font-family: Consolas,sans-serif;
    font-size: 0.9em;
    line-height: 1.45;
    padding: 14px;
    margin-bottom: 1em;
    white-space: pre-wrap;
    overflow-wrap: anywhere
}

    pre code, pre span {
        background: none;
        padding: 0;

    }

.copy-block {
    position: relative;
}

.copy-code {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 1000;
    background-color: #3F3F46;
    width: 24px;
    height: 24px;
    border-radius: 0px;
    border: 1px solid #666666;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    opacity: .8;
    color: #8ed781;
    font-size: 1.2em;
    font-weight:700;
}

    .copy-code:hover {
        background-color: #3F3F46;
        border-color: #2e90d7;
        opacity: 1;
    }

blockquote {
    border-left: 4px solid #C8C8C8;
    color: #A0A0A0;
    margin: 0 0 1em 0;
    padding: 0 1em
}

hr {
    color: #C8C8C8;
    border: 0;
    height: 1px;
    margin: 0
}

strong {
    font-weight: 700
}

em {
    font-style: italic
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em
}

th, td {
    border: 1px solid #888888;
    padding: 8px;
    text-align: left
}

th {
    background-color: #2D2D2D
}

details {
    padding: 4px 6px;
    border: 1px solid #888888;
    background: #2D2D2D;
    font-style: italic;
}

    details > summary {
        cursor: pointer;
        font-style: normal;
        font-weight: 600;
        outline: none;
    }

    details[open] {
        background: #2D2D2D;
    }



plainText {
    color: #C8C8C8;
}

.htmlServerSideScript {
    color: #c586c0;
}

.htmlComment {
    color: #6a9955;
}

.htmlTagDelimiter {
    color: #808080;
}

.htmlElementName {
    color: #569cd6;
}

.htmlAttributeName {
    color: #9cdcfe;
}

.htmlAttributeValue {
    color: #ce9178;
}

.htmlOperator {
    color: #d4d4d4;
}

.comment {
    color: #6a9955;
}

.xmlDocTag {
    color: #6a9955;
}

.xmlDocComment {
    color: #6a9955;
}

.string {
    color: #ce9178;
}

.stringCSharpVerbatim {
    color: #ce9178;
}

.keyword {
    color: #569cd6;
}

.preprocessorKeyword {
    color: #c586c0;
}

.htmlEntity {
    color: #d7ba7d;
}

.jsonKey {
    color: #9cdcfe;
}

.jsonString {
    color: #ce9178;
}

.jsonNumber {
    color: #b5cea8;
}

.jsonConst {
    color: #569cd6;
}

.xmlAttribute {
    color: #9cdcfe;
}

.xmlAttributeQuotes {
    color: #d4d4d4;
}

.xmlAttributeValue {
    color: #ce9178;
}

.xmlCDataSection {
    color: #6a9955;
}

.xmlComment {
    color: #6a9955;
}

.xmlDelimiter {
    color: #808080;
}

.xmlName {
    color: #569cd6;
}

.className {
    color: #4ec9b0;
}

.cssSelector {
    color: #d7ba7d;
}

.cssPropertyName {
    color: #9cdcfe;
}

.cssPropertyValue {
    color: #ce9178;
}

.sqlSystemFunction {
    color: #dcdcaa;
}

.powershellAttribute {
    color: #4fc1ff;
}

.powershellOperator {
    color: #d4d4d4;
}

.powershellType {
    color: #4ec9b0;
}

.powershellVariable {
    color: #9cdcfe;
}

.powershellCommand {
    color: #dcdcaa;
}

.powershellParameter {
    color: #ce9178;
}

.type {
    color: #4ec9b0;
}

.typeVariable {
    color: #4ec9b0;
    font-style: italic;
}

.namespace {
    color: #4ec9b0;
}

.constructor {
    color: #dcdcaa;
}

.predefined {
    color: #569cd6;
}

.pseudoKeyword {
    color: #569cd6;
}

.stringEscape {
    color: #d7ba7d;
}

.controlKeyword {
    color: #c586c0;
}

.number {
    color: #b5cea8;
}

.operator {
    color: #d4d4d4;
}

.delimiter {
    color: #d4d4d4;
}

.markdownHeader {
    color: #569cd6;
    font-weight: bold;
}

.markdownCode {
    color: #ce9178;
}

.markdownListItem {
    color: #d4d4d4;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.builtinFunction {
    color: #dcdcaa;
    font-weight: bold;
}

.builtinValue {
    color: #569cd6;
    font-weight: bold;
}

.attribute {
    color: #9cdcfe;
    font-style: italic;
}

.specialChar {
    color: #d7ba7d;
}
